* {
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #f4f4f4;
}

header {
  grid-area: header;
  padding: 10px;
  background-color: #2c3e50;
  font-size: 2.5rem;
  text-align: center;
  color: white;
}
menu {
  padding: 20px; 
  grid-area: menu;
  background-color: #F5F5DC;
}
main {
  grid-area: main;
  background-color: #eee8d5;
}
footer {
  grid-area: footer;
  background-color: #2c3e50;
  padding: 10px;
  color: white;
  text-align: center;
}

.grid-container {
  display: grid;
  grid-template-areas:
    "header header"
    "menu main"
    "footer footer";
    grid-template-columns: 200px 1fr;
  gap: 10px;
  background-color: #F5F5DC;
}
.main-flex {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; 
    justify-content: space-between;

}

.elementos-flex {
  background-color: #A3C9A8;
  text-align: center;
}

.elementos-flex p {
  color: black;
  background-color: #A3C9A8;
  padding-bottom: 4px;
  gap: 3px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

header h3 {
    font-family: 'Abril Fatface', serif; 
    letter-spacing: 1px; /* Un poco de aire para elegancia */
}

menu h3 {
  font-size: 1.4rem;
  margin-top: 10px;
  margin-bottom: 5px;
  font-weight: normal;
}

.elementos-flex img {
  width: 100%;
  height: 350px; 
  object-fit: contain; 
  object-position: center;
}

.botton-style {
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;

}