* {
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
}

header {
  grid-area: header;
  background-color: #66f;
}
menu {
  grid-area: menu;
  background-color: #66f;
}
main {
  grid-area: main;
  background-color: #66f;
}
footer {
  grid-area: footer;
  background-color: #66f;
}

.grid-container {
  display: grid;
  grid-template-areas:
    "header header"
    "menu main"
    "footer footer";
    grid-template-columns: 250px 1fr;
  gap: 10px;
}
.main-flex {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; 

}

.elementos-flex img {
  width: 100%;
  height: 350px; /* Altura de ejemplo */
  object-fit: contain; /* O puedes probar 'contain' */
  object-position: center;
}
