* {
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
}

header {
  grid-area: header;
  background-color: #2c3e50;
  text-align: center;
  color: white;
}
menu {
  grid-area: menu;
  background-color: #eee8d5;
}
main {
  grid-area: main;
  background-color: #fdfbf7;
}
footer {
  grid-area: footer;
  background-color: #4a4a4a;
}

.grid-container {
  display: grid;
  grid-template-areas:
    "header header"
    "menu main"
    "footer footer";
    grid-template-columns: 200px 1fr;
  gap: 10px;
}
.main-flex {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; 
    justify-content: space-between;

}

.elementos-flex img {
  width: 100%;
  height: 350px; /* Altura de ejemplo */
  object-fit: contain; /* O puedes probar 'contain' */
  object-position: center;
}
