/* RESET Y BASE */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #f4f4f4;
}

/* LAYOUT (GRID) */
.grid-container {
  display: grid;
  grid-template-areas:
    "header header"
    "menu main"
    "footer footer";
  grid-template-columns: 200px 1fr;
  gap: 10px;
  background-color: #F5F5DC; /* Evita líneas blancas en los gaps */
}

/* HEADER & FOOTER */
header {
  grid-area: header;
  padding: 10px;
  background-color: #2c3e50;
  text-align: center;
  color: white;
  
  /* Tipografía Retro */
  font-family: 'Abril Fatface', serif; 
  font-size: 2.5rem;
  letter-spacing: 2px; 
}

footer {
  grid-area: footer;
  background-color: #2c3e50;
  padding: 10px;
  color: white;
  text-align: center;
}

/* MENÚ LATERAL */
menu {
  padding: 20px; 
  grid-area: menu;
  background-color: #F5F5DC;
}

/* Ajustado a h4 según tu HTML anterior */
menu h4 {
  font-size: 1.4rem;
  margin-top: 10px;
  margin-bottom: 5px;
  font-weight: normal;
}

/* MAIN Y TARJETAS (GUITARRAS) */
main {
  grid-area: main;
  background-color: #eee8d5;
}

.main-flex {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; 
    justify-content: space-between;
}

.elementos-flex {
  background-color: #A3C9A8;
  text-align: center;
  padding-bottom: 15px; 
}

.elementos-flex img {
  width: 100%;
  height: 350px; 
  object-fit: contain; 
  object-position: center;
}

/* Títulos de las guitarras */
.elementos-flex h3 {
    font-family: 'Abril Fatface', serif;
    font-weight: normal;
    font-size: 1.2rem;
    margin: 10px 0;
    color: #2c3e50; 
}
/* Precios y texto "Comprar" */
.elementos-flex p {
  color: black;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  margin-bottom: 10px;
}